<!DOCTYPE html>
<html>
<head>
<title></title>
</head>
<body>
<div>
<table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td valign="top" align="center">
<table width="620" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td width=" ">
<div style="font-size:0pt;line-height:0pt;text-align:left"><a href="" target="_blank">
{#<img src="{{ absolute_url(asset('assets/images/logo/dmv_logo_Last.png')) }}" alt="DMVIG" style="font-size:25px;width:150px" width="150" border="0">#}Conversion</a></div>
</td>
</tr>                             
</tbody>
</table>
                                            
<div style="font-family:Arial,Helvetica,sans-serif;font-size:14px;color:#292929;text-align:left">
                                                
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="background-color:#494949" bgcolor="#3ec1d5">
<div style="font-size:0pt;line-height:0pt;min-height:2px;height:2px;background-color:#3ec1d5">
</div>
</td>
</tr>
</tbody>
</table>
<table style="border-radius:3px" width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#FFFFFF">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tbody>
<tr>
<td style="font-size:0pt;line-height:0pt;text-align:left" width="30"></td>
<td style="font-family:Arial,Helvetica,sans-serif">

                                                                                    
<h1 style="color:#292929;font-family:Arial,sans-serif,Roboto;font-size:24px;line-height:27px;text-align:center;font-weight:lighter">Vous y êtes presque...</h1>

<div style="color:#292929;font-family:Arial;font-size:14px;line-height:20px;text-align:center">
<p>Merci de vous être inscrit sur Conversion &nbsp;!
<br>Activez dès maintenant votre compte pour devenir membre :
</p>
<p style="text-align:center"><a style="color:#e73e11;text-decoration:underline" title="Activez votre compte" href="{{ signedUrl|raw }}">Activer mon compte</a></p>

<p style="font-size:12px">ou copiez/collez cette URL dans votre navigateur : <span style="color:#e73e11;text-decoration:underline"><a href="{{ signedUrl|raw }}">{{ signedUrl|raw }}</a> </span></p>
<br>
    <p>
        This link will expire in {{ expiresAt | date('g') }} hour(s).
    </p>
<p>Merci et à bientôt !</p>
</div>
<p style="text-align: right;">
L'équipe DMV<br>
Tél.&nbsp;:&nbsp;+00 0 00 00 00 00<br>
<a style="color:#e73e11;text-decoration:underline" href="mailto:supportclient@dmv.com" target="_blank">supportclient@dmv.com</a><br>
</div></td><td style="font-size:0pt;line-height:0pt;text-align:left" width="30"></td>
</tr>
</tbody>
</table>
</td>
</tr>
</tbody>
</table>
<div style="font-size:0pt;line-height:0pt;min-height:30px"></div>
</td>
</tr>
</tbody>
</table>                                          
                                                
<div style="font-size:0pt;line-height:0pt;min-height:1px;height:1px;background:#3ec1d5"></div>
<div style="font-size:0pt;line-height:0pt;min-height:1px;height:1px;background:#3ec1d5"></div>
<div style="font-size:0pt;line-height:0pt;min-height:20px;height:20px"></div>
<div style="color:#707070;font-family:Arial;font-size:10px;line-height:20px;text-align:center">
                                                    Contact : +00(0)0.00.00.00.00  -  <a href="mailto:supportclient@conversion.com" style="color:#707070;text-decoration:underline" target="_blank">supportclient@dmv.com</a><br>
                                                    Copyright © 2020 Conversion, Tous droits réservés.
</div>
</div>
</td><td style="font-size:0pt;line-height:0pt;text-align:left" width="10"></td>
</tr></tbody>
</table>
<div style="font-size:0pt;line-height:0pt;min-height:50px"></div>
<div style="font-size:0pt;line-height:0pt;text-align:center"></div>
</td>
</tr>
</tbody>
</table>
</td>
</tr></tbody>
</table><div class="yj6qo"></div><div class="adL">
</div></div><div class="adL">
</div></div></div><div id="" class="ii gt" style="display:none"><div id=":mr" class="a3s aXjCH undefined"></div></div><div class="hi"></div>
</body>
</html>