{% extends  'admin/base.html.twig' %}

{% block body %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">Admin Profil</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Profil</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->


        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">

                        <!-- Profile Image -->
                        <div class="card card-primary card-outline">
                            <div class="card-body box-profile">
                                <div class="text-center">
                                    <img class="profile-user-img img-fluid"
                                         src="{{ absolute_url( app_upload_asset( vich_uploader_asset(app.user, 'avatarFile'),'admin/dist/img/avatar2.png')) }} "
                                         alt="User profile picture">
                                </div>

                                <h3 class="profile-username text-center">{% if admin.fullName %}{{ admin.fullName }} {% else %}Admin Name{% endif %}</h3>

                                <p class="text-muted text-center">{{ admin.getRolesToString |raw }}</p>

                                <a href="#" class="btn btn-block"> <i class="fa fa-edit"></i> <b>edit image</b></a>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </div>
                    <!-- /.col -->
                    <div class="col-md-9">
                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
                                </ul>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <div class="tab-content">
                                    <div class="tab-pane active" id="settings">
                                        <form class="form-horizontal" action="" method="post" novalidate="novalidate">
                                            <div class="form-group row">
                                                <label for="inputName" class="col-sm-2 col-form-label">Full name</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(adminForm.fullName) }}
                                                    {{ form_errors(adminForm.fullName) }}
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(adminForm.email) }}
                                                    {{ form_errors(adminForm.email) }}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <label for="inputSkills" class="col-sm-2 col-form-label">Role</label>
                                                <div class="col-sm-10">
                                                    {{ form_widget(adminForm.roles) }}
                                                    {{ form_errors(adminForm.roles) }}
                                                </div>
                                            </div>

                                            <div class="form-group row">
                                                <div class="col-10 ml-auto col-sm-10">
                                                    {{ form_rest(adminForm) }}
                                                    <button type="submit" class="btn btn-success">Update</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.nav-tabs-custom -->

                        <div class="card">
                            <div class="card-header p-2">
                                <ul class="nav nav-pills">
                                    <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Password</a></li>
                                </ul>
                            </div>

                            <div class="card-body">
                                <form class="form-horizontal" action="" method="post" novalidate="novalidate">

                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-4 col-form-label">Your old Password</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(changePasswordForm.oldPlainPassword) }}
                                            {{ form_errors(changePasswordForm.oldPlainPassword) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-4 col-form-label">Your new Password</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(changePasswordForm.newPlainPassword) }}
                                            {{ form_errors(changePasswordForm.newPlainPassword) }}
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputSkills" class="col-sm-4 col-form-label">Confirm Password</label>
                                        <div class="col-sm-8">
                                            {{ form_widget(changePasswordForm.confirmPlainPassword) }}
                                            {{ form_errors(changePasswordForm.confirmPlainPassword) }}
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-10 ml-auto col-sm-10">
                                            {{ form_rest(changePasswordForm) }}
                                            <button type="submit" class="btn btn-success">Change</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>


</div>
<!-- ./wrapper -->

{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendors/select2/css/select2.min.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendors/select2/js/select2.min.js') }}"></script>
    <script>
        $(document).ready(function() {
            // you may need to change this code if you are not using Bootstrap Datepicker
            $('.select-js').select2();
        });

    </script>
{% endblock %}